<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:annotation-config />
	<mvc:annotation-driven />
	<mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:default-servlet-handler/>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="20971520"></property>
	</bean>
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com"></property>
		<property name="port" value="465"></property>
		<property name="username" value="n18dcat093@student.ptithcm.edu.vn"></property>
		<property name="password" value="qqbncuhwpfapcuvz"></property>
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.starttls.enable">false</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
	<context:component-scan
		base-package="ElectronicComponentsShopMVC" />

	<!-- Cấu hình SQL -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		p:url="jdbc:sqlserver://localhost:1433; Database=ECShop"
		p:username="sa" p:password="tridzz">
	</bean>
	

	<!-- Cấu hình Hibernate -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="packagesToScan"
			value="ElectronicComponentsShopMVC.Entity" />
	</bean>

	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />
	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admin.htm" />
			<mvc:mapping path="/admin/**" />
			<bean
				class="ElectronicComponentsShopMVC.Interceptor.AuthorizeInterceptor" />
		</mvc:interceptor>
		<!-- <mvc:interceptor>
			<mvc:mapping path="/user/**" />
			<bean
				class="ElectronicComponentsShopMVC.Interceptor.UserInterceptor" />
		</mvc:interceptor> -->
	</mvc:interceptors>
</beans>
